
    <h3 style="padding: 6px; margin: 0px; text-align: center; background-color: black; color: white; font-weight: bolder;">Varanasi Waste Management</h3>
    <div style="padding-top: 30px; text-align:center">
        <span style=" margin-top: 10px; padding: 5px; border: black 1px solid; cursor: pointer; border-radius: 8px;"><a style="color: black; text-decoration: none" href="#" id="taskBtn">Employeee Panel</a></span>
         
    </div>
        
    <img id="animateImg" style="width: 80%; margin-left: 10%; margin-top: 16%; height: auto;" src="/images/wastePoster.jpg" alt="Waste Tips">






